
*.env

*.pyc

youtube_channels/

venv

.idea


.DS_Store

*.jpg

uploading_apis/youtube/youtube-api-secret.json

uploading_apis/youtube/token.json

generation_tools/voice_generator/xtts/voice_test/

generation_tools/voice_generator/xtts/voice_test_english/

generation_tools/image_generator/flux/kaggle.json

instagram_profiles/laura_vigne/

.vs/

.vscode/

/resources/inputs/instagram_profiles/laura_vigne/laura_vigne.json
