# === OS ===
.DS_Store

# === Environment files / virtualenvs ===
*.env
venv

# === Python ===
*.pyc

# === IDEs / Editors ===
.idea
.vs/
*.code-workspace
.vscode/extensions.json
.vscode/settings.json

# === Media ===
*.jpg
*.jpeg
*.png

# === Project-specific ===
/resources

# === Misc / tooling ===
.qodo
