# === OS ===
.DS_Store

# === Environment files / virtualenvs ===
*.env
venv
.venv

# === Python ===
*.pyc
__pycache__/

# === IDEs / Editors ===
.idea
.vs/
.vscode
*.code-workspace

# === Media ===
*.jpg
*.jpeg
*.png

# === Project-specific ===
/resources

# === Misc / tooling ===
.cache/
.qodo
.vscode/launch.json
.worktrees
**/tokens.json
