tts
loguru
diffusers
accelerate
sentencepiece
pillow
tqdm
openai-whisper
wave
pytorch-lightning
pedalboard
pesq
wand
wandb
kaiser
gradio_client
proxy-spinner
python-slugify
moviepy
pysrt
openai
python-dotenv
pydub
azure-ai-inference
numpy