
loguru
diffusers
accelerate
sentencepiece
tqdm
openai-whisper
#wave
pytorch-lightning
pedalboard
pesq
wand
wandb
kaiser
gradio_client
proxy-spinner
python-slugify
moviepy==1.0.3
pysrt
openai
python-dotenv
pydub
azure-ai-inference
numpy
nltk
seleniumbase
cloudscraper
requests
typer
pydantic
httpx[socks]
python-socks[asyncio]
websocket-client
pynput
pydantic-settings
google-api-python-client
google-auth-oauthlib

# Only for Windows
ftfy; sys_platform == 'win32'

# Pre-commit hooks
pre-commit
ruff == 0.11.2
mypy == 1.15.0
pygrep == 0.3.1

# typing-extensions
types-pynput == 1.8.1.20250318
types-requests
types-tqdm
