tts
loguru
diffusers
accelerate
sentencepiece
pillow
tqdm
openai-whisper
wave
pytorch-lightning
pedalboard
pesq
wand
wandb
kaiser
gradio_client
proxy-spinner
python-slugify
moviepy==1.0.3
pysrt
openai
python-dotenv
pydub
azure-ai-inference
numpy
nltk

# Only for Windows
ftfy; sys_platform == 'win32'